:root {
    --main-text-color: #212121;
    --gray-color: #757575;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --btn-bg-color: #F5F4FA;
    --black-color: #000000;
    --footer-bg-color: #2F303A;
    --footer-text: rgba(255, 255, 255, 0.60);
    --btn-shadow: rgba(0, 0, 0, 0.15);
    --social-color: #AFB1B8;
}