/* icons */
.social--footer .social__btn {
    background-color: rgba(255, 255, 255, 0.10);
    fill: var(--white-color);
    /* flex-shrink: 0; */

        &:hover,
        &:focus {
                fill: var(--white-color);
                background-color: var(--blue-color);
                cursor: pointer;
            }
}

/* .social-footer .social-btn:hover,
.social-footer .social-btn:focus {
    background-color: var(--blue-color);
} */
// .social li+li {
//     margin-left: 10px;
// }