/* приєднуйтесь */

.goin {
    margin-left: 70px;
    width: 206px;
    /* padding: 12px 0; */
}

.goin__text {
    text-transform: uppercase;
    /* font-weight: 500; */
    font-weight: 700;
    letter-spacing: 0.42px;
    color: var(--white-color);
    margin-bottom: 20px;
}