.form__text {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

// .form__label
.form__label {
    display: block;
    margin-top: 10px;
    color: var(--gray-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:focus-within {
            border-color: var(--blue-color);
            fill: var(--blue-color);
            cursor: pointer;
        }
}

.form__input-area {

    &:first-of-type {
        margin-top: 12px;
        }

    position: relative;

    &:focus-within {
            border-color: var(--blue-color);
            fill: var(--blue-color);
            cursor: pointer;
        }
}

.form__input-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    width: 18px;
    height: 18px;
    pointer-events: none;
}

/* ----------form-- comment  --------------------- */

.form__comment {
    &::placeholder {
            color: rgba(117, 117, 117, 0.50);
        }

    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.20);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.12px;
    outline: none;

    &:focus {
    border-color: #188CE8;
            }
}


/* ------------checkbox ---------- */
.checkbox {
    /* margin-top: 20px; */
    margin-left: 12px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.checkbox__label {
    margin-top: 17px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    /* line-height: 1.71429; */
}

.checkbox__accept {
    /* appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__text-policy {
    margin-left: 8px;
    font-size: 14px;
    letter-spacing: 0.42px;
    /* outline: auto; */
}

.form__policy {
    margin-left: 5px;
    color: var(--blue-color);
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    font-size: 14px;
    line-height: 24px;
    /* 171.429% */
    /* outline: none; */
}

.checkbox__custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    outline: 1px solid;
    outline-width: 1.5pt;
    outline-offset: -1.5pt;
    outline-color: var(--main-text-color);
    border-radius: 10%;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox__accept:checked+& {
            opacity: 1;
            outline-color: var(--blue-color);
        }

    .checkbox__accept:focus+& {
            outline-color: var(--blue-color);
            border-color: #188CE8;
        }
}

.checkbox__icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 16px;
    height: 15px;
    border-radius: 2px;
    background-color: var(--blue-color);
    fill: var(--white-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox__accept:checked+.checkbox__custom & {
            opacity: 1;
            outline-color: var(--blue-color);
        }
}

/* .accept:hover + .cust-chbox, */
// .checkbox__accept:focus+.checkbox__custom {
//     outline-color: var(--blue-color);
//     border-color: #188CE8;
// }


// .checkbox__accept:checked+.checkbox__custom {
//     opacity: 1;
//     outline-color: var(--blue-color);
// }

// .checkbox__accept:checked+.checkbox__custom .checkbox__icon {
//     opacity: 1;
//     outline-color: var(--blue-color);
// }


.form__submit-thumb {
    display: flex;
    padding: 30px 124px 0 124px;
}

.form__submit {
    width: 200px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875;
    /* 187.5% */
    letter-spacing: 0.96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: var(--blue-color);
    transition-property: background-color border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #188CE8;
        border-color: #188CE8;
        background-color: #188ce8;
        cursor: pointer;
            }
}

