/* ---------------- header --------------------- */


.header {
    border-bottom: 1px solid #ECECEC;
    
}

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// header li:hover,
// header li:focus {
//     /* fill: var(--blue-color);
//     color: var(--blue-color); */
//     cursor: pointer;
// }