ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--main-text-color);
    /* margin: 0; */
}

h1,
h2,
h3,
p {
    margin: 0;
}