/* clients */
.clients__list {
    display: flex;
    justify-content: space-between;
}

/* .clients h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
} */
/* .clients ul{
display: flex;
} */

.client {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    /* color: inherit; */
    color: var(--social-color);
    border-radius: 4px;
    border: 1px solid var(--social-color);
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--blue-color);
            border-color: var(--blue-color);
            /* fill: var(--blue-color); */
            cursor: pointer;
        }
}

.client__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

// .client:hover,
// .client:focus {
//     color: var(--blue-color);
//     border-color: var(--blue-color);
//     /* fill: var(--blue-color); */
//     cursor: pointer;
// }